.cc-form fieldset {
	padding:0;
    background:#f9f9f9;
    border:0;
	border-bottom:3px #ddd solid;
	margin-bottom:15px;
    clear:both;
}

.cc-form h4.fieldset-legend {
    background: #666;
    color:white;
    padding:7px 15px;
}

.cc-form .fieldset-gutter {
    padding:15px;
}

.cc-form legend {
    padding: 4px;
    display: block;
    margin-top:-10px;
}

.cc-form label {
	display:block;
	color:#222;
    margin: 0;
    padding: 0 0 5px;
 }

.cc-form input.input-text, .cc-form select, .cc-form input.input-password {
	padding:3px;
	border:1px #aaa solid;
	color:#333;
	margin:0;
	min-width:250px;
    max-width: 30%;
    min-height: 18px;
}

.cc-form label.for-checkbox {
    display:inline;
}


.cc-form textarea {
	padding:3px;
	border:1px #aaa solid;
	color:#333;
	width:100%;
	margin:0 0 0 1px; }

.cc-form input.input-text.hover, .cc-form select.hover, .cc-form input.input-text:hover, .cc-form select:hover, .cc-form input.input-password:hover {
	border-color:#999;
	}

.cc-form input.input-submit:hover, .cc-form button.hover { color:#000; }

.cc-form input.input-submit, .cc-form button {width: auto;padding:5px 8px;}

.cc-form input.focus, .cc-form select.focus, .cc-form input.text:focus, .cc-form select:focus {
	border-color:#777;
	background:white; }

.cc-form input.input-checkbox {
	width:auto;
	margin:0 7px;
    position: relative;
    top: 3px;
}

.cc-form .form-row {
	clear:both;
    padding-top: 15px;
    margin-top: 15px;
	border-top:1px #ccc solid; }

.cc-form .form-row:nth-of-type(1) {
	border:0;
    margin: 0;
    padding: 0;
}

.cke_dialog label {width:auto;text-align:left;float: none;display:inline;}