.cc-form fieldset {
	padding:15px;
	border:1px #ddd solid;
	margin-bottom:15px; 
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	
	}

.cc-form label {
	width:20%;
	text-align:right;
	display:block;
	float:left;
	padding:14px 5px 10px;
	color:#444;
 }

.cc-form input.input-text, .cc-form select, .cc-form input.input-password {
	padding:3px;
	border:1px #aaa solid;
	color:#333;
	margin:0;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	width:250px; }


.cc-form textarea {
	padding:3px;
	border:1px #aaa solid;
	color:#333;
	width:100%;
	margin:0 0 0 1px; }

.cc-form input.input-text.hover, .cc-form select.hover, .cc-form input.input-text:hover, .cc-form select:hover, .cc-form input.input-password:hover {
	border-color:#999;
	}

.cc-form input.input-submit:hover, .cc-form button.hover { color:#000; }

.cc-form input.input-submit, .cc-form button {width: auto;padding:5px 8px;}

.cc-form input.focus, .cc-form select.focus, .cc-form input.text:focus, .cc-form select:focus {
	border-color:#777;
	background:white; }

.cc-form input.input-checkbox {
	width:auto;
	margin:5px 7px; }

.cc-form .form-row {
	clear:both;
	border-bottom:1px #dedede solid; }

	.cc-form .form-row span {
		padding:10px 5px;
		display:block;
		float:left;
		width:76%; }

.cc-form .form-row:nth-of-type(1) {
	border:0;
}

.cke_dialog label {width:auto;text-align:left;float: none;display:inline;}