body {
	background: #eee;
	padding:40px 20px;
}

#topnavbar .container {
	min-width: 1080px;
	max-width: 1600px;
	width:auto;
	padding:0 20px;
}

#header {
	background: #333;
	color:white;
	padding: 35px 10px 0;
	border-bottom:3px solid #555;
}

#header h1 {
	font-size:2.3em;
	margin-bottom:30px;
}

#header h1 span {
	font-size:0.4em;
	font-style: italic;
	display:block;
	color:#777;
}

#header h1 a {
	color:white;
}

#header .gutter {
	min-width: 1080px;
	max-width: 1600px;
	margin:auto;
}

#nav {
	padding-left: 1px;
}

#nav ul {
	margin:0;
}

#nav li {
	list-style:none;
}

#nav > ul > li {
	list-style:none;
	float:left;
	margin-right: 7px;
	position:relative;
	list-style:none;
	display:inline;
}

#nav ul ul {
	position:absolute;
	width: 6em;
	top:2.6em;
	display:none;
	width: 100%;
}

#nav ul li.current ul {
	width:104%;
    left: -3px;
}

#nav ul ul li:last-child a {
	border-bottom-width:3px;
	padding-bottom: 4px;
}

#nav ul li.current ul {
	left: -3px;
}

#nav ul ul li a {
	display:block;
	color: white;
	background-color: #555;
	padding:6px 0 6px 16px;
	text-decoration:none;
	font-size:1.1em;
	border:3px #555 solid;
	border-width: 0 3px;
}

#nav ul li ul a:hover {
	background-color: #266FBF;
	color: white;
	border-color: #266FBF;
}

#nav ul li.current ul a {
	background: white;
	color: #333;
}

#nav ul li.current ul a:hover {
	color: white;
	background-color: #555;
	border-color: #555;
}

#nav ul li:hover ul {
	display:block;
}

#nav > ul > li > a {
	display:block;
	float:left;
	padding:8px 16px;
	font-size: 1.1em;
	background: #555;
	color:white;
	text-decoration: none;
}

#nav > ul > li.current > a {
    position: relative;
    top:3px;
	background:white;
	color: #266FBF;
	border:0px solid #555;
	border-bottom: 0;
	left: 0px;
	padding-bottom: 8px;
}

#nav > ul > li.current:hover > a {
	background: white;
}

#nav > ul > li:hover > a {
	text-decoration:underline;
}

.clear {clear:both;height:1px;}

#wrapper {
	min-width: 1080px;
    max-width: 1600px;
	margin:auto;
}

#status {
	background:white;
	border:1px #ccc solid;
	border-top:0;
	padding:10px 16px;
    display: none;
}

#status div.message {
	margin: 0 !important;
}

#status p {
	margin:0;
}

div#content {
	float:left;
	width:72.917%;
	background: white;
	margin-top:15px;
}

div#content .gutter .contents {
	padding: 15px;
	font-size: 1.1em;
	border:1px #ddd solid;
    border-bottom: 3px #ccc solid;
}

.no-sidebar #sidebar {
    display:none;
}

.hidden {
	visibility: hidden;
}

.no-sidebar #content {
    width:100%;
}

#sidebar {
	float:right;
	width: 25%;
	margin-top:15px;
}

p {
	margin:7px 0;
}

h2 {
	font:bold 1.7em/1.5em Arial,sans-serif;
	letter-spacing: -1px;
    padding: 7px 15px;
    background:#eee;
    color:black;
}

#admin-sidebar {
	list-style:none;
	margin:0;
}

#admin-sidebar > li {
	margin-bottom: 9px;
}

#admin-sidebar > li a.action {
	display:block;
	color:white;
	padding:9px 0px 9px 18px;
	margin-right: 0px;
	font:normal 1.3em/1.3em Arial, sans-serif;
	text-decoration:none;
	background: #266FBF;
}

#admin-sidebar > li a.action .cc-icon {
	height: 1.3em;
	margin-left:-9px;
}

#admin-sidebar > li a.action .cc-icon img {
	vertical-align: text-top;
	margin-top:1px;
	padding-right: 9px;
}

#footer {
    clear:both;
    padding:25px 0;
    color:#666;
}


#admin-sidebar > li a.action:hover {
	background: #488fdf;
}

.left {
    float:left;
}

.right {
    float:right;
}

/*.edit-page-link {
    width:16px;
    height:16px;
    display:block;
    padding:0px 30px 0 0;
    background: transparent url('icons/page_edit.png') no-repeat left center;
    text-indent: -999em;
}
.nsw-item-row {
    min-height:16px;
}*/

.edit-page-link, .delete-page-link {display:block;}

.admin-sidebar-block p {
	font-size:1.1em;
}

h3 {
	margin-top:20px;
	font:1.5em Arial,sans-serif;
	border-bottom:1px #ccc solid;
	padding-bottom: 3px;
	font-weight:bold;
}

table {
	width:100%;
	margin:15px 0;
}
table:first-child {
	width:100%;
	margin-top:0;
}
table:last-child {
	width:100%;
	margin-bottom:0;
}
td {
	padding: 7px 10px;
	border-bottom:1px transparent solid;
    background: #f9f9f9;
}
tr.even td {
    background: #f0f0f0;
}
tr td {border-bottom: 1px #ddd solid;}
tr:hover td {background: #fff;}

th {
	text-align: left;
	padding:8px 10px;
	background: #666;
    color:white;
	border-bottom:1px #333 solid;
}
.en-di-col {
	width:29%;
}
td span.byline {display:block;font-size:90%;font-style: italic;}

table td.actions, table th.actions {
	width:15%;
}

.cc-icon a {
	padding:5px;
	width:16px;
	height:16px;
}
.cc-icon a:hover {
	border-bottom:3px #ccc solid;
}

#login-wrapper {
	width: 650px;
	margin: 100px auto 0;
	background:white;
}

fieldset {
	clear: both;
	margin-bottom: 15px;
}

.control-group.editor label {
	display:none;
}

/**
 * Uploadify stuff
 */
.cc_upload_box_queue {
	margin-top:10px;
}

.cc_upload_box_buttons {
	padding-top:5px;
}

.cc_upload_box_buttons object {
	float:right;
}

.cc_upload_box .cc_upload_button {
    padding:5px 8px;
}

.cc_upload_box_queue .uploadifyQueueItem {
	border-bottom:1px #999 solid;
	font-size:1.1em;
	padding:7px;
	border:1px #ddd solid;
	background: #eee;
	margin-bottom: 5px;
}

.cc_upload_box_queue .uploadifyQueueItem:hover {
	background:#e5e5e5;
	border-color: #d5d5d5;
}

.cc_upload_box_queue .uploadifyQueueItem:hover .uploadifyProgress {
	background-color: #ccc;

}

.cc_upload_box_queue .uploadifyQueueItem .cancel {
	float:right;
}

.cc_upload_box_queue .uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}

.cc_upload_box_queue .uploadifyQueue .completed {
	background-color: #E5E5E5;
}

.cc_upload_box_queue .uploadifyProgress {
	background-color: #ddd;
	margin-top: 10px;
	width: 100%;
}

.cc_upload_box_queue .uploadifyProgressBar {
	background-color: #0099FF;
	height: 3px;
	width: 1px;
}

/* uploaded files stuff */
.cc_uploaded_files .action {
	margin-top:10px;
}

.cc_uploaded_files ul {
	margin:0;
	margin-top:10px;
	list-style:none;
}

.cc_uploaded_files ul li {
	list-style: none;
	font-size:1.2em;
	padding:7px 4px;
	border-bottom:1px #ddd solid;
}

.cc_uploaded_files ul li:first-child {
	border-top:1px #ddd solid;
}

.cc_modal {
	background-color:#fff;
	display:none;
	width:600px;
	padding:15px;
	text-align:left;
	border:4px solid black;
}

ol#sortable-nav {
	margin: 0;
	padding: 0;
	clear:both;
}

#sortable-nav div span {
	display: block;
}

#sortable-nav div span.name {
	float:left;
	padding:6px 0 6px 6px;
}

#sortable-nav div span.link {
	float:right;
	width:100px;
	font-size:90%;
}

#sortable-nav div span.link a {
	display:block;
	padding: 6px;
}

ol.sortable, ol.sortable ol {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}

ol.sortable {
	margin: 4em 0;
}

.sortable li {
	margin: 0;
	padding: 0;
}

.sortable li div  {
	cursor: move;
	border: 1px #ccc solid;
	background: #f9f9f9;
	margin-bottom:3px;
}

.sortable li div:hover {
	border-color: #ccc;
	border-style: dashed;
	background: #eee !important;
}

.sortable li.stripe > div {
	background: #f3f3f3;
}

.placeholder {
	background-color: #cfcfcf;
	margin-bottom: 3px;
}

.ui-nestedSortable-error {
	background:#fbe3e4;
	color:#8a1f11;
}

#content .contents > h2:first-child,
#content .contents > h3:first-child
{
	margin-top:0;
}

#content .contents > form:last-child,
#content .contents > p:last-child
{
	margin-bottom:0;
}

tr.enabled td {background-color:#dff0d8;border-color:#d6e9c6;color:#468847;}
tr.disabled td {background-color:#f2dede;border-color:#eed3d7;color:#b94a48;}


#save-btn {
	float:right;
	margin-bottom: 10px;
}

form > .form-actions:last-child {
	margin-bottom: 0;
}